# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Build outputs
/dist/
/web-dist/
/dist-app/

# Vendor examples and packages
/JYUSB-1601.Examples/

# Visual Studio / .NET
.vs/
**/bin/
**/obj/
*.user
*.suo
*.cache
*.pdb
*.dll
*.exe

# OS
.DS_Store
Thumbs.db
